<!-- template/play.html -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineSensei: {{file_name}}</title>
    <link rel="icon" href="https://i.ibb.co/Hh4kF2b/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.ibb.co/Hh4kF2b/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="https://dl.dropbox.com/scl/fi/6aorst1ks66x3111t2iw0/styledropbox.css?rlkey=mpotklcdkfz0pf4hxo7glgxna&st=h8olezfu">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="https://ssl.p.jwpcdn.com/player/v/8.21.2/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo"</script>
    <link rel="stylesheet"
        href="https://dl.dropbox.com/scl/fi/b9a1g14k09orgyafgi0xw/stylesJW.css?rlkey=l7fmf5r1dlzvl4n74p4higlmz&st=25rb0y6j">
    <style>
        #player {
            position: relative;
            width: 100% !important;
            height: 100% !important;
            border-radius: .659rem;
            border: 3px solid rgb(255 255 255 / 15%);
        }

        @media (max-width: 640px) {
            .downloadBtn {
                padding: 10px;
            }

            .bg-gray-800.md\:bg-transparent {
                background-color: transparent !important;
            }
        }
    </style>
</head>

<body class="bg-gray-900 text-white">
    <div class="flex justify-center items-center min-h-screen flex-col">

        <div class="max-w-4xl w-full p-8 bg-gray-800 rounded-lg shadow-lg md:bg-transparent">
            <h1 class="text-2xl text-center font-semibold mb-4">{{file_name}}</h1>
            <div class="relative pb-56.25">
                <div id="player" class="absolute top-0 left-0 w-full h-full"
                    data-url="{{file_url}}">
                </div>
            </div>
            <p class="mt-4 text-center">Otras opciones para reproducir la película</p>
            <div class="mt-4 text-center">
                <div class="downloadBtn grid grid-cols-2 gap-4">
                    <button
                        class="btn-primary text-white font-bold py-2 px-4 rounded-md"
                        onclick="streamDownload()">
                        <img class="icon rounded-full" src="https://cdn-icons-png.flaticon.com/512/9153/9153957.png"
                            alt="">Descargar
                    </button>
                    <button
                        class="btn-primary text-white font-bold py-2 px-4 rounded-md"
                        onclick="copyStreamLink()">
                        <img class="icon rounded-full" src="https://cdn-icons-png.flaticon.com/512/10241/10241077.png"
                            alt="">Copiar URL
                    </button>
                    <button
                        class="btn-primary text-white font-bold py-2 px-4 rounded-md"
                        onclick="vlc_player()">
                        <img class="icon rounded-full" src="https://i.ibb.co/px6fQs1/vlc.png" alt="">VLC Player
                    </button>
                    <button
                        class="btn-primary text-white font-bold py-2 px-4 rounded-md"
                        onclick="mx_player()">
                        <img class="icon rounded-full"
                            src="https://play.seletronic.com.br/wp-content/uploads/sites/19/2021/01/mx-player-icon.png"
                            alt="">MX Player
                    </button>
                    <button class="btn-primary text-white font-bold py-2 px-4 rounded-md"
                        onclick="n_player()">
                        <img class="icon rounded-full" src="https://i.ibb.co/Hd2dS4t/nPlayer.png" alt="">nPlayer
                    </button>
                    <button
                        class="btn-primary text-white font-bold py-2 px-4 rounded-md"
                        onclick="webVideoCast()">
                        <img class="icon rounded-full"
                            src="https://apkroar.com/wp-content/uploads/2020/04/web-video-cast-browser-to-tv-chromecast-roku.png"
                            alt="">Transmitir al TV
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"></script>
<script
    src="https://dl.dropbox.com/scl/fi/ua8qn19jwy11pyvihfxew/jwplayer.js?rlkey=j60bldkdr3dxlbndfx4jh5ny5&st=p6cidvyu"></script>
<script src="https://dl.dropbox.com/scl/fi/js27wwoqdrri9k9rqc1o3/configJW.js?rlkey=6ymvecidubmn10xm8d5tytz6g&st=fs1i0n39"></script>
<script
    src="https://dl.dropbox.com/scl/fi/88cnhak5z7l4yby6r78wi/scriptCine.js?rlkey=8hu2nno1htmw4bjw3fjy2z2kv"></script>

</html>